@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - Deck of Cards API demo</h1>
    <br />
    <form asp-action="Play">
        <button type="submit" style="padding:20px">Play!</button>
    </form>
</div>
